<div style="text-align: center; border: 1px solid; margin-top: 50px; width: 600px; margin-left: 700px; background-color: azure;">
        
        <div class="SXA-hero-banner__content">
            <h1 class="ATM09-heading global-h1" style="text-transform: uppercase;"> About Hyland&nbsp;</h1>
        
            
                <div class="ATM02-rich-text">
                    <p>We inspire organizations to unleash their potential and realize their true value. Explore what we do, who we are and how we’ve evolved over 30-plus years of innovation and persistence.</p>
                </div>            

        </div>

       
        <!-- ...existing code... -->
<iframe width="560" height="315"
    src="https://www.youtube.com/embed/dL6LMwkZrlE?start=157"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
</iframe>
<!-- ...existing code... -->
    </div>


    
    
