
<div style="text-align: center; border: 1px solid; margin-top: 50px; width: 600px; margin-left: 700px; background-color: azure;">
<p>Need something now? <strong>Talk to our sales team</strong> <a href="tel:+18884952638">+1.888.495.2638</a><br>
<a href="#chat-now" rel="noopener noreferrer">or chat now with a Hyland sales team member</a>.</p>

<p>Already a customer? Visit the Support Portal on <a rel="noopener noreferrer" href="https://community.hyland.com/en/support" target="_blank">Hyland Community</a> to find your support team.</p>

<p><strong>Global Headquarters</strong><br>
28105 Clemens Road<br>
Westlake, Ohio 44145, USA<br>
General inquiries: <a href="tel:+14407885000">+1.440.788.5000</a><br>
Fax: <a href="tel:+14407885100">+1.440.788.5100</a></p>

</div>
